/._icon_chm.gif
/._icon_default.png
/._icon_doc.gif
/._icon_exe.gif
/._icon_jpg.gif
/._icon_mp3.gif
/._icon_mv.gif
/._icon_pdf.gif
/._icon_ppt.gif
/._icon_psd.gif
/._icon_rar.gif
/._icon_txt.gif
/._icon_xls.gif
