/._anchor.gif
/._arrow.png
/._arrow_down.png
/._arrow_up.png
/._button-bg.gif
/._cancelbutton.gif
/._charts.png
/._cursor_h.gif
/._cursor_h.png
/._cursor_v.gif
/._cursor_v.png
/._dialog-title-bg.png
/._filescan.png
/._highlighted.gif
/._icons-all.gif
/._icons.gif
/._icons.png
/._loaderror.png
/._loading.gif
/._lock.gif
/._neweditor-tab-bg.png
/._pagebreak.gif
/._scale.png
/._sortable.png
/._spacer.gif
/._sparator_v.png
/._table-cell-align.png
/._tangram-colorpicker.png
/._toolbar_bg.png
/._unhighlighted.gif
/._upload.png
/._videologo.gif
/._word.gif
/._wordpaste.png
