/._bg.png
/._center_focus.jpg
/._file-icons.gif
/._file-icons.png
/._icons.gif
/._icons.png
/._image.png
/._left_focus.jpg
/._none_focus.jpg
/._progress.png
/._right_focus.jpg
/._success.gif
/._success.png
